.hero-section {
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
  position: relative;
  transition: background-image 1s ease-in-out; /* Smooth transition effect */
}

.hero-content h1 {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-content p {
  font-size: 1.25rem;
}

.hero-content .btn {
  padding: 10px 20px;
  background: #20c997;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  transition: background 0.3s;
}

.hero-content .btn:hover {
  background: #17a673;
}
